body {
    background: url("./images/camp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: -40px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: 100vw 100vh;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    padding-left: 470px;
   
  }

  h3{
    margin-top: 5px;
    padding-left: 470px;
    letter-spacing: 2px;
    font-size: 23px;
   
    
  }

  h1{
    padding-top: 70px;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
  }

